.App {
  text-align: center;
}
.App-menu{
  position: absolute;
  width: 100%;
  height:10vh;
  top:0;
}
.App-settings{
  position: absolute;
  top:10%;
  bottom:0;
}
.App-clock{
  position: fixed;
  bottom:1vh;
}
.popup{
  position: absolute;
  height: 112%;
  width:100%;
  top:-12%;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
}
.popup-inner{
  background-color: whitesmoke;
  width: 50vh;
  height:55vh;
  margin-left: auto;
  margin-right: auto;
  color:salmon;
  margin-bottom: auto;
}
.App-menu-button{
  height: 100%;
  width: 14.28%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 135vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-flow:column;
}
.App-content{
  position:absolute;
  height:80%;
  width:100%;
  top:10%;
  text-align: center;
}
.App-gallery{
  margin: auto;
}
.App-gallery-images{
  position: absolute;
  top:10%;
  margin-left:0vh;
  background-color: rgba(0, 0, 0, 0.5);
  min-width:30vh;
  min-height:30vh;
}
.App-gallery-videos{
  position: absolute;
  top:10%;
  background-color: rgba(0, 0, 0, 0.5);
  min-width:30vh;
  min-height:30vh;
  margin-left:40vh;
}
.App-gallery-music{
  position: absolute;
  top:10%;
  background-color: rgba(0, 0, 0, 0.5);
  min-width:30vh;
  min-height:30vh;
  margin-left:80vh;
}
.App-gallery-images:hover{
  background-color: rgba(0, 0, 0, 0.8);
  cursor:grab;
}
.App-gallery-videos:hover{
  background-color: rgba(0, 0, 0, 0.8);
  cursor: grab;
}
.App-gallery-music:hover{
  background-color: rgba(0, 0, 0, 0.8);
  cursor: grab;
}
.App-gallery-images:active{
  cursor: grabbing;
}
.App-gallery-videos:active{
  cursor: grabbing;
}
.App-gallery-music:active{
  cursor: grabbing;
}
.App-gallery-images-full{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
}
.App-gallery-empty-filter:hover{
  cursor:grab;
  text-shadow: 2px 1px black;
}
.App-content table{
  margin-left: auto;
  margin-right: auto;
}
.App-link {
  color: #61dafb;
}
.background{
  background-color: rgba(22, 37, 12, 0.7);
  text-align: left;
  border-radius: 25px;
  padding:10px;
  margin-bottom:5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";